.button_wrapper{
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 199px;
    height: 49px;
    border-radius: 40px;
    position: relative;
    z-index: 5;
    cursor: pointer;
    .title_button{
        text-transform: capitalize;
    }
}