@import "../../variables/variables";
.menu_wrapper {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 20;
  transition: all ease .2s;
  .menu_container {
    width: calc(100% - $lateralDistance);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo_container{
        color: #fff;
        font-family: 'Lalezar';
        font-weight: 400;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        .brand{
          height: 25px;
          width: 25px;
          background: #fff;
          border-radius: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 45px;
          margin-right: 8px;
          span{
            color: #000;
            position: relative;
            top: 4px;
          }
        }
    }
    .user_menu_container{
      font-size: 12px;
    }
  }
}

.active{
  background-color: $bg;
  height: 60px;
}