@import "../../variables/variables";
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
.home_wrapper {
  min-height: 100vh;
  height: auto;
  padding-bottom: 100px;
  width: 100%;
  background-color: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
  .home_container {
    width: calc(100% - $lateralDistance);
    min-height: 100vh;
    height: auto;
  }
}
