.title_category_default{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}