@import "../../variables/variables";
.description_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 85vh;

  .overlay {
    background: url(../../assets/img/overlay.png),
      linear-gradient($bg,#0000003f 30%, $bg);
    position: absolute;
    z-index: 2;
    height: 100%;
    width: calc(100% + $lateralDistance);
    left: - calc($lateralDistance / 2);
  }

  .backPoster {
    width: calc(100% + $lateralDistance);
    left: - calc($lateralDistance / 2);
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: 50% 30%;
    z-index: 1;
  }
  .description_inforamtion_container {
    width: calc(100% - 400px);
    z-index: 3;
    position: absolute;
    bottom: 50px;
    .genres_container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .backdrop {
        height: 37px;
        width: 37px;
        border-radius: 20px;
        margin-right: 10px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          object-fit: cover;
        }
      }
      .genre {
        margin-right: 10px;
        font-size: 12px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .title {
      font-family: "Bevan", cursive;
      font-weight: 600;
      font-style: normal;
      font-size: 70px;
      line-height: 112px;
      text-transform: uppercase;
    }
    .overview {
      font-style: normal;
      line-height: 22px;
      text-align: justify;
      width: 70%;
    }
    .author_and_release_date {
      font-style: normal;
      line-height: 12px;
      margin: 20px 0 40px 0;
      display: flex;
    }
    .created_text {
      text-transform: uppercase;
      font-size: 10px;
      opacity: 0.7;
      &::after {
        content: "";
      }
    }
    .first_date_on_air {
      margin-left: 10px;
    }
    .author_name {
      margin-left: 5px;
      &::after {
        content: ",";
      }
    }
  }
}
