@import url("https://fonts.googleapis.com/css2?family=Bevan&family=Lalezar&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.App {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
* {
  // -webkit-user-select:none;  
  // -moz-user-select:none;     
  // -ms-user-select:none;      
  // user-select:none;  

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #090909;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #535353;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
